@import './scrollbar';

#items-column {
  background-color: var(--items-column-background-color);
  border-left: 1px solid var(--items-column-border-left-color);
  border-right: 1px solid var(--items-column-border-right-color);
  font-size: var(--sn-stylekit-font-size-h2);
  user-select: none;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  .empty-items-list {
    flex-grow: 1;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--sn-stylekit-font-size-h3);
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  #items-menu-bar {
    position: relative;
  }

  #notes-options-menu {
    margin-left: 10px;
  }

  .infinite-scroll {
    @include minimal_scrollbar();
    height: inherit;
    background-color: var(--items-column-items-background-color);
  }

  .content-list-item {
    &.selected,
    &:hover {
      background-color: var(--item-cell-selected-background-color);
    }

    progress {
      background-color: var(--note-preview-progress-background-color);
      color: var(--note-preview-progress-color);
      border: none;

      &::-webkit-progress-bar {
        background-color: var(--note-preview-progress-background-color);
      }

      &::-webkit-progress-value {
        background-color: var(--note-preview-progress-color);
      }

      &::-moz-progress-bar {
        background-color: var(--note-preview-progress-color);
      }
    }

    &.selected {
      background-color: var(--item-cell-selected-background-color);
      border-left: 2px solid var(--item-cell-selected-border-left-color);

      progress {
        background-color: var(--note-preview-selected-progress-background-color);
        color: var(--note-preview-selected-progress-color);

        &::-webkit-progress-bar {
          background-color: var(--note-preview-selected-progress-background-color);
        }

        &::-webkit-progress-value {
          background-color: var(--note-preview-progress-color);
        }

        &::-moz-progress-bar {
          background-color: var(--note-preview-progress-color);
        }
      }
    }
  }
}
